<ion-header>
  <ion-navbar color="dark">
    <ion-title>
      Mi Tienda
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-grid>
    <ion-row *ngFor="let pares of _ps.productos">
      <!-- Mi solución (click)="detalle_producto(item.codigo)"> -->
      <ion-col *ngFor="let item of pares"
        [navParams]="{producto: item}"
        [navPush]="productoPage">
        <img [src]="item.codigo | imagen">
        <p>
          {{item.producto}}
          <br> {{item.precio_compra | currency:'USD':true}}
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-infinite-scroll (ionInfinite)="siguiente_pagina($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>